<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Real-Time Profite</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse" style="border-radius: 0px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Real-Time Profite</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Profite Real-Time</h3>
                <h4 class="header"><a href="/">Homepage</a></h4>
                <h4 class="header"><a href="/about">About Us</a></h4>
                <h4 class="header"><a href="/contact">Contact Us</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">Usuarios na pagina: <span id="usuariosAtivos"></span></div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script>
    var socket = io();
    var visitorData = { referringSite: document.referrer, page: location.pathname }
    
    socket.emit('pageview', visitorData);
    socket.on('updated-stats', function(count) {
        document.querySelector("#usuariosAtivos").innerText = count.pages[location.pathname];
    });
    </script>
</body>
</html>